.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.light {
  transition: background 500ms;
  background: rgb(225, 225, 225);
  color: black;
}

.dark {
  background: rgb(37, 37, 37);
  transition: background 500ms;
  color: white;
}

.themeToggleBtn {
  width: fit-content;
  border: 0px;
  padding: 0.5rem 1.5rem;
}

.light .themeToggleBtn {
  background: #333;
  color: white;
}

.dark .themeToggleBtn {
  background: #ccc;
  color: black;
}
